<!DOCTYPE html>
<html>

<head>
    <title>DSRS and Denoised Models</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #89CFF0;
            margin-left: 75px;
            font-family: Sans-serif;
        }
    
        h1 {
            font-size: 65px;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function calculateCertifiedRadius(modelId) {
                $.ajax({
                    type: 'POST',
                    url: '/calculate_certified_radius',
                    data: { "model_id": modelId },
                    success: function (data) {
                        // Display results in Bootstrap table
                        console.log(data)
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert("Error retrieving results: " + errorThrown);
                    }
                });
            }

    </script>
</head>

<body>
    <div class="container">
        <h1>DSRS and Denoised Models</h1>
        <hr>
        <form method="GET" action="/form" enctype="multipart/form-data">
            <div class="form-group">
                <label for="model_file"><h3>Add New Model</h3> </label>
            </div>
            <button type="submit" class="btn btn-primary">ADD</button>
        </form>
        <hr>
        {% for model in models %}
        <div class="card">
            <div class="card-header">
                {{ model.name }}
            </div>
            <div class="card-body">
                <p class="card-text">Submitted on: {{ model.timestamp }}</p>
                <p class="card-text">File name: {{ model.file_name }}</p>
                {%if model.results_calculated %}
                
                {%else%}
                <button type="button" class="btn btn-primary" onclick="calculateCertifiedRadius({{ model.model_id }})">
                    Calculate Certified Radius
                </button>
                {%endif%}
                <br>
        
            </div>
        </div>
        <br>
        {% endfor %}
    </div>
</body>

</html>