<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            // Send AJAX request to Flask app to retrieve results
            $.ajax({
                url: "/get_results",
                type: "GET",
                dataType: "json",
                success: function (data) {
                    // Display results in Bootstrap table
                    var table = $("#resultsTable tbody");
                    for (var i = 0; i < data.length; i++) {
                        var row = $("<tr>");
                        row.append($("<td>").text(data[i].image_name));
                        row.append($("<td>").text(data[i].object));
                        row.append($("<td>").text(data[i].confidence));
                        table.append(row);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("Error retrieving results: " + errorThrown);
                }
            });
        });
    </script>
    <style>
        body {
            background-color: #89CFF0;
            margin-left: 75px;
            font-family: Sans-serif;
        }
    </style>
</head>
<div class="container">
    <h1>Model Results</h1>
    <table id="resultsTable" class="table">
        <thead>
            <tr>
                <th>Image Name</th>
                <th>Object</th>
                <th>Confidence</th>
            </tr>
        </thead>
        <tbody>
            <!-- Results will be added dynamically by JavaScript -->
        </tbody>
    </table>
</div>
</html>